body {
  font-family: "Oxygen", sans-serif;
  background-color: bisque;
}

h1 {
  color: #202124;
  font-size: 24px;
  line-height: 26px;
  font-weight: normal;
  margin-bottom: 0;
}

h2 {
  color: #70757a;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  color: #70757a;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
}

a {
  text-decoration: none;
}

li:first-letter {
  text-transform: capitalize;
}

small {
  display: block;
  text-align: center;
  margin-top: 15px;
  font-size: small;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 40px auto;
}
.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-style: none;
  border-radius: 5px;
  background-color: #ffc168;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: #70757a;
  cursor: default;
}
